{{#extend "layout"}}
{{#content "main"}}


<section class="intro js-intro-slider">
    <div class="container">
        <div class="intro__slider">
            <img src="img/arc.svg" alt="" class="intro__arc">
            <div class="intro__slider-text-slider">
                <div class="intro__slider-text-slider-tabs">
                    <div class="intro__slider-text-slider-tabs-item">
                        web и mobile<br>
                        Разработка
                    </div>
                    <div class="intro__slider-text-slider-tabs-item">
                        маркетинг
                    </div>
                    <div class="intro__slider-text-slider-tabs-item">
                        третье<br> направление
                    </div>
                    <div class="intro__slider-text-slider-tabs-item">
                        четвертое<br> направление
                    </div>
                </div>
            </div>
            <div class="intro__slider-containers">
                <div class="intro__slider-container">

                </div>
                <div class="intro__slider-container">

                </div>
                <div class="intro__slider-container">

                </div>

                <div class="intro__slider-container intro__slider-container--current">
                    <div class="intro__slider-card">
                        <div class="intro__slider-card-moon">
                            <div class="intro__slider-card-moon-ring-wrapper">


                                <div class="intro__slider-card-moon-ring">

                                </div>
                            </div>
                            <svg width="14" height="14" aria-hidden="true" class="icon-moon-1">
                                <use xlink:href="#moon-1"></use>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="intro__slider-container">
                    <div class="intro__slider-card">
                        <div class="intro__slider-card-moon">
                            <div class="intro__slider-card-moon-ring-wrapper">


                                <div class="intro__slider-card-moon-ring">

                                </div>
                            </div>
                            <svg width="14" height="14" aria-hidden="true" class="icon-moon-2">
                                <use xlink:href="#moon-2"></use>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="intro__slider-container">
                    <div class="intro__slider-card">
                        <div class="intro__slider-card-moon">
                            <div class="intro__slider-card-moon-ring-wrapper">


                                <div class="intro__slider-card-moon-ring">

                                </div>
                            </div>
                            <svg width="14" height="14" aria-hidden="true" class="icon-moon-3">
                                <use xlink:href="#moon-3"></use>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="intro__slider-container">
                    <div class="intro__slider-card">
                        <div class="intro__slider-card-moon">
                            <div class="intro__slider-card-moon-ring-wrapper">


                                <div class="intro__slider-card-moon-ring">

                                </div>
                            </div>
                            <svg width="14" height="14" aria-hidden="true" class="icon-moon-4">
                                <use xlink:href="#moon-4"></use>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>


{{/content}}
{{/extend}}